button {
    border: none;
    margin: 4px;
    background: none;
}
td {
    vertical-align: middle;
    position: relative;
}

.handle {
    cursor: move;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    padding: .5rem .5rem;
}

.as-sortable-dragging {
    display: table !important;
}

.as-sortable-dragging td {
    display: table-cell !important;
}